---
title:      "Mixing Green"
created_at: 2019-11-30 13:06:19 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/art/mixing-green/"
---
<p>For my own reference:</p>
<figure id="attachment_2476" aria-describedby="caption-attachment-2476" style="width: 1024px" class="wp-caption aligncenter"><img class="size-full wp-image-2476" src="http://valdyas.org/fading/wp-content/uploads/2019/11/IMG_20191130_135827_sm.jpg" alt="" width="1024" height="768" srcset="https://valdyas.org/fading/wp-content/uploads/2019/11/IMG_20191130_135827_sm.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/11/IMG_20191130_135827_sm-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/11/IMG_20191130_135827_sm-768x576.jpg 768w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2476" class="wp-caption-text">Palette with greens</figcaption></figure>
<p>Counter-clockwise outside:</p>
<ul>
<li>Mix of Titanium and Zinc White</li>
<li>Burnt Sienna (to work as red)</li>
<li>Ultramarine</li>
<li>Phtalo Blue</li>
<li>Permanent Yellow with Phtalo Blue</li>
<li>Cobalt Blue</li>
</ul>
<p>The group of six dots, left to right, each column top to bottom</p>
<ul>
<li>Cadmium Yellow Lemon with Ultramarine</li>
<li>Cadmium Yellow Lemon Phtalo Blue</li>
<li>Cadmium Yellow Lemon with Cobalt Blue</li>
<li>Permanent Yellow Medium with Ultramarine</li>
<li>Permanent Yellow Medium Phtalo Blue</li>
<li>Permanent Yellow Medium with Cobalt Blue</li>
<li>Permanent Lemon Yellow with Ultramarine</li>
<li>Permanent Lemon Yellow Phtalo Blue</li>
<li>Permanent Lemon Yellow with Cobalt Blue</li>
</ul>
<p>Inside two color, three colors in a row, left to right, top to bottom</p>
<ul>
<li>Phtalo Blue with Lemon Yellow</li>
<li>Cobalt Blue with Permanent Yellow Medium</li>
<li>Cobalt Blue with Cadmium Yellow Lemon and Burnt Sienna</li>
<li>Cobalt Blue with Cadmium Yellow Lemon</li>
<li>Cobalt Blue with more Cadmium Yellow Lemon</li>
</ul>