---
title:      "KDE Onboarding Sprint Report"
created_at: 2019-07-24 19:08:36 UTC
author:     Fading Memories
layout:     post
---
<p>These are my notes from the onboarding sprint. I had to miss the evenings, because I&#8217;m not very fit at the moment, so this is just my impression from the days I was able to be around, and from what I&#8217;ve been trying to do myself.</p>
<h3>Day 1</h3>
<p>The <a href="https://community.kde.org/Sprints/Onboarding/2019">KDE Onboarding Sprint</a> happened in Nuremberg, 22 and 23 July. The goal of the sprint was to come closer to making getting started working on existing projects in the KDE community easier: more specifically, this sprint was held to work on the technical side of the developer story. Of course, onboarding in the wider sense also means having excellent documentation (that is easy to find), a place for newcomers to ask questions (that is easy to find).</p>
<p>Ideally, an interested newcomer would be able to start work without having to bother building (many) dependencies, without needing the terminal at first, would be able to start improving libraries like KDE frameworks as a next step, and be able to create a working and installable release of his work, to use or to share.</p>
<p>Other platforms have this story down pat, with the proviso that these platforms promote greenfield development, not extending existing projects, as well as working within the existing platform framework, without additional dependencies:</p>
<ul>
<li>Apple: download XCode, and you can get started.</li>
<li>Windows: download Visual Studio, and you are all set.</li>
<li>Qt: download the Qt installer with Qt Creator, and documention, examples and project templates are all there, no matter for which platform you develop: macOS, Windows, Linux, Android or iOS.</li>
</ul>
<p>GNOME Builder is also a one-download, get-started offering. But Builder adds additional features to the three above: it can download and build extra dependencies (with atrocious user-feedback, it has to be said), and it offers a list of existing GNOME projects to start hacking on. (Note: I do not know what happens when getting Builder on a system that lacks git, cmake or meson.)</p>
<p>KDE has nothing like this at the moment. Impressive as the kdesrc-build scripts are technically (thanks go to Michael Pyne for giving an in-depth presentation), they are not newcomer-friendly, with a complicated syntax, configuration files and dependency on working from the terminal. KDE also has much more diversity in its projects than GNOME:</p>
<ul>
<li>Unlike GNOME, KDE software is cross-platform &#8212; though note that not every person present at the sprint was convinced of that, even dismissing KDE applications ported to Windows as &#8220;not used in the real world&#8221;.</li>
<li>Part of KDE is the Frameworks set of additional Qt libraries that are used in many KDE projects</li>
<li>Some KDE projects, like Krita, build from a single git repository, some projects build from dozens of repositories, where adding one feature, means working on half a dozen features at the same time, or in the case of Plasma replaces the entire desktop on Linux.</li>
<li>Some KDE projects are also deployed to mobile systems (iOS, Android, Plasma Mobile)</li>
</ul>
<p>Ideally, no matter the project the newcomer selects, the getting-started story should be the same!</p>
<p>When the sprint team started evaluating technologies that are currently used in the KDE community to build KDE software, things started getting confused quite a bit. Some of the technologies discussed were oriented towards power users, some towards making binary releases. It is necessary to first determine which components need to be delivered to make a seamless newcomer experience possible:</p>
<ul>
<li>Prerequisite tools: cmake, git, compiler</li>
<li>A way to fetch the repository or repositories the newcomer wants to work on</li>
<li>A way to fetch all the dependencies the project needs, where some of those dependencies might need to transition from dependency to project-being-worked on</li>
<li>A way to build, run and debug the project</li>
<li>A way to generate a release from the project</li>
<li>A way to submit the changes made to the original project</li>
<li>An IDE that integrates all of this</li>
</ul>
<p>The sprint has spent most of its time on the dependencies problem, which is particularly difficult on Linux. An inventory of ways KDE projects &#8220;solve&#8221; the problem of providing the dependencies for a given project currently includes:</p>
<ul>
<li>Using distribution-provided dependencies: this is unmaintainable because there are too many distributions with too much variation in the names of their packages to make it possible to keep full and up-to-date lists per project &#8212; and newcomers cannot find the deps from the name given in the cmake find modules.</li>
<li>Building the dependencies as CMake external projects per project: is only feasible for projects with a manageable number of dependencies and enough manpower to maintain it.</li>
<li>Building the dependencies as CMake external projects on binary factory, and using a docker image identical to the one used on the binary factory + these builds to develop the project in: same problem.</li>
<li>Building the (KDE, though now also some non-KDE) dependencies using kdesrc-build, getting the rest of the dependencies as distribution packages: this combines the first problem with fragility and a big learning curve.</li>
<li>Using the KDE flatpak SDK to provide the KDE dependencies, and building non-KDE dependencies manually, or fetching them from other flatpak SDK&#8217;s. (Query: is this the right terminology?) This suffers from inter- and intra-community politicking problems.</li>
</ul>
<p><strong>ETA</strong>: I completely forgot to mention <a href="https://community.kde.org/Craft">craft</a> here. Craft is a python based system close to emerge that has been around for ages. We used it initially for our Krita port to Windows; back then it was exclusively Windows oriented. These days, it also works on Linux and Windows. It can build all KDE and non-KDE dependencies that KDE applications need. But then <em>why</em> did I forget to mention it in my write-up? Was it because there was nobody at the sprint from the craft team? Or because nobody had tried it on Linux, and there was a huge Linux bias in any case? I don&#8217;t know&#8230; It was discussed during the meeting, though.</p>
<p>As an aside, much time was spent discussing docker, but when it was discussed, it was discussed as part of the dependency problem. However, it is properly a solution for running a build without affecting the rest of the developers system. (Apparently, there are people who install their builds into their system folders.) Confusingly, part of this discussion was also about setting environment variables to make it possible to run their builds when installed outside the system, or uninstalled. Note: the XDG environment variables that featured in this discussion are irrelevant for Windows and macOS.</p>
<p>Currently, newcomers for pim, frameworks or plasma development are pointed towards kdesrc-build <a href="http://(https://community.kde.org/Get_Involved/development">(https://community.kde.org/Get_Involved/development</a>, four clicks from www.kde.org), which not unexpectedly, leads to a heavy support burden in the kde development communication channels. For other applications, like Krita, there are build guides (<a href="https://docs.krita.org/en/contributors_manual.html">https://docs.krita.org/en/contributors_manual.html</a>, two clicks from krita.org), and that also is not a feasible solution.</p>
<p>As a future solution, Ovidiu Bogdan presented Conan, which is a cross-platform binary package manager for C++ libraries. This could solve the dependency problem, and only the dependency problem, but at the expense of making the run problem much harder because each library is in its own location. See <a href="https://conan.io/">https://conan.io/</a> .</p>
<h3>Day 2</h3>
<p>The attendendants decided to try to tackle the dependency problem. A certain amount of agreement was reached on acknowledging that this <i>is</i> a big problem, so this was discussed in-depth. Note again, that the focus was on Linux again, relegating the cross-platform story to second place. Dmitry noted that when he tries to recruit students for Krita, only one in ten is familiar with Linux, pointing out we&#8217;re really limiting ourselves with this attitude.</p>
<p>A KDE application, kruler, was selected, as a prototype, for building with dependencies provided either by flatpak or conan.</p>
<p>Dmitry and Ovidiu dug into Conan. From what I observed, laying down the groundwork is a lot of work, and by the end of the evening, Dmitry and Ovidiu has packaged about half of the Qt and KDE dependencies for kruler. Though the Qt developers are considering moving to Conan for Qt&#8217;s 3rdparty deps, Qt in particular turned out to be a problem. Qt needs to be modularized in Conan, instead of being a big, fat monolith. See <a href="https://bintray.com/kde">https://bintray.com/kde</a>.</p>
<p>Aleix Pol had already made a begin integrating flatpak and docker support into KDevelop, as well as providing a flatpak runtime for KDE applications (https://community.kde.org/Flatpak).</p>
<p>This made it relatively easy to package kruler, okular and krita using flatpak. There are now maintained nightly stable and unstable flatpak builds for Krita.</p>
<p>The problems with flatpak, apart from the politicking, consist in two different opinions of what an appstream should contain, checks that go beyond what freedesktop.org standards demand, weird errors in general (you cannot have a default git branch tag that contains a slash&#8230;) an opaque build system and an appetite for memory that goes beyond healthy: my laptop overheated and hung when trying to build a krita flatpak locally.</p>
<p>Note also that the flatpak (and docker) integration in KDevelop are not done yet, and didn&#8217;t work properly when testing. I am also worried that KDevelop is too complex and intimidating to use as the IDE that binds everything together for new developers. I&#8217;d almost suggest we repurpose/fork Builder for KDE&#8230;</p>
<h3>Conclusion</h3>
<p>We&#8217;re not done with the onboarding sprint goal, not by a country mile. It&#8217;s as hard to get started with hacking on a KDE project, or starting a new KDE project as has ever been. Flatpak might be closer to ready than conan for solving the dependency problem, but though flatpak solves more problems than just the dependency problem, it is Linux-only. Using conan to solve the dependency problem will be very high-maintenance.</p>
<p>I do have a feeling we&#8217;ve been looking at this problem at a much too low level, but I don&#8217;t feel confident about what we should be doing instead. My questions are:</p>
<p>* Were we right on focusing first on the dependency problem and nothing but the dependency problem?<br />
* Apart from flatpak and conan, what solutions exist to deliver prepared build environments to new developers?<br />
* Is kdevelop the right IDE to give new developers?<br />
* How can we make sure our documentation is up to date and findable?<br />
* What communication channels do we want to make visible?<br />
* How much effort can we afford to put into this?</p>