---
title:      "Professional Free Software"
created_at: 2019-11-06 15:45:24 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/hacking/krita-hacking/professional-free-software/"
---
<p>At the 2019 Libre Graphics Meeting, <a href="http://liviofania.com/">illustrator Livio Fania</a> presented a heart-felt plea for more professionalism in libre graphics.</p>
<p><iframe title="LGM 2019 – USER PERSPECTIVE in the funding model" width="840" height="473" src="https://www.youtube.com/embed/vIuotJcpeF4?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>And that was the moment I began to think a bit. What is it that makes one project professional, and another not? Where, in this case, I&#8217;d take &#8220;professional&#8221; to mean &#8220;someone can depend on it so they can earn their daily bread with no more than the problems you always have with any software, because all software sucks, and hardware even more so&#8221;.</p>
<p>As Livio said in his presentation, funding makes a difference. If a project can fund its development, its continuity will be better, it will be better able to implement its vision and deliver what it promises, simply because funding equals time. That&#8217;s also what I tried to argue in <a href="https://valdyas.org/fading/hacking/krita-hacking/back-from-the-blender-conference-2019/">my previous blog post</a>.</p>
<p>In practice, it&#8217;s very hard to find funding for applications that that people do not earn their income with. Of course, there are very accomplished free and open source video players, editors or file managers. Those tend to be still completely volunteer-driven and very underfunded. And there&#8217;s a reasonably successful web-browser, which is actually funded quite well &#8212; but it&#8217;s funded to avoid Google being broken up as the monopolist that it is, mainly by Google.</p>
<p>And of course, there are applications that people use daily, earn their bread with and that are completely unfunded, even if they have donation buttons and money in the bank: GIMP, Inkscape, Scribus, various RAW photo applications, often by choice. This means that those projects are even more squeezed for time than a project like Krita. Just think how much difference Tavmjong Bah would make if he could be funded to work on Inkscape full-time! Tav gets $107 a month through Patreon&#8230; (Which I contribute too.)</p>
<p>But though Livio focused on the need to get funding to accelerate development, and it&#8217;s the first step, there&#8217;s more to creating a professional application.</p>
<p>The second step is: focus on the user&#8217;s needs. That starts with knowing what you want to create. If your goal is to implement a standard specification fully, as is the case with Inkscape, then is that goal sufficiently user-oriented to form the basis for an application designers can earn their daily bread with? It&#8217;s possible, but it&#8217;s something to always be aware of.</p>
<p>And like I argued recently, is looking inward, discussing the where&#8217;s and why&#8217;s of Free Software, no matter how enjoyable, not taking away time better spent getting to know your userbase, their needs and&#8230; The competition.</p>
<p>I would not be surprised if visiting the Linux Application Summit next would be less useful for Krita and its users than a week long training in Photoshop would be for me, as the Krita maintainer. We&#8217;ve all been there: we&#8217;ve all claimed we&#8217;re not competing with the big, sovereign, proprietary applications that are seen as a standard in the field where our application is the &#8220;open source alternative&#8221;.</p>
<p>But if you don&#8217;t compete, you cannot win. And if you don&#8217;t win, then millions of users will not use free and open source software. And I happen to believe that software freedom is important. And I&#8217;m slowly gaining the confidence to say: I am competing.</p>
<p>(And we are. Competing. Otherwise Adobe wouldn&#8217;t have been adding so many new features for painters and illustrators to their latest Photoshop release, some of them features Krita has had for a decade.)</p>
<p>And when we compete, which makes people trust us, and when our user fund our efforts, then we need to take another step towards professionalism.</p>
<p>That is, committing to continuity. I&#8217;ve always said &#8220;free software never dies&#8221;, but it does. Look at Amarok, which is thoroughly dead. Of course, Krita has been released since 2004, and there&#8217;s <a href="https://krita.org/en/about/krita-releases-overview/">quite a bit of continuity already</a>. But this does take commitment, which also needs to be public.</p>
<p>Finally, there&#8217;s the point where as a full-time project member, as the project maintainer, can no longer say &#8220;We don&#8217;t provide binaries. Get the source and build it, or wait for a distribution&#8221;. You have to provide your application in a form your users can use directly; it&#8217;s their time you&#8217;re telling them to use for something they don&#8217;t earn money with, if you ask them to build.</p>
<p>And then&#8230; We have to stop making excuses. Which is probably the hardest thing, because all software sucks, and all code sucks, and sometimes it&#8217;s impossible to fix a bug in Krita, because it&#8217;s in the OS, the Window manager or the development platform. Or the tablet driver, oh dear, the tablet drivers. But it&#8217;s your customer, your supporter, the person who depends on your work to earn their money who is stopped from doing that. And suddenly workarounds and hacks become necessary.</p>
<p>So, funding a core team of developers is the start, focusing on the field instead of the free software community, a will to compete, providing continuous improvement, making sure your software can be used and finally, not making up excuses if there are problems but fixing them.</p>