---
title:      "I’m on vacation…"
created_at: 2019-12-21 14:49:34 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/art/im-on-vacation/"
---
<p>I started feeling <em>really</em> tired in November, and then I realized I hadn&#8217;t taken much time off this year &#8212; a couple of days at the sea-side was most of it. So I thought it was time to do something else than bug triaging, bug fixing, writing code, acting like I&#8217;m a manager. This summer I&#8217;d bought water-soluble oil paints (<a href="https://www.royaltalens.com/en-gb/brands/cobra/">Cobra, from Talens</a>), and I have spent and hour here and an hour there learning the stuff again.</p>
<p><span id="more-2481"></span></p>
<p>Now I had a plan. In our <a href="https://valdyas.org/galsin/">regular role playing campaign</a>, we had a scene where my PC, Khushi, asked a local painter to paint a small portrait to send to a friend. And later on, the friend joined her in, and had her portrait painted for Khushi. So&#8230; A small double portrait would be fun to try to recreate.</p>
<p>First, I cleared my desk from keyboard, mouse and monitor, making it much harder to slip back into work-mode:</p>
<figure id="attachment_2503" aria-describedby="caption-attachment-2503" style="width: 1372px" class="wp-caption aligncenter"><img class="size-full wp-image-2503" src="http://valdyas.org/fading/wp-content/uploads/2019/12/desk.jpg" alt="" width="1372" height="1029" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/desk.jpg 1372w, https://valdyas.org/fading/wp-content/uploads/2019/12/desk-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/desk-768x576.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/desk-1024x768.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/desk-1200x900.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2503" class="wp-caption-text">An empty desk</figcaption></figure>
<p>And then I started preparing myself. I read up on painting on panels, and got myself rabbit glue and gesso. We still had MDF panels left over from when we moved into this house and had the bookshelves built &#8212; that was 2007. I&#8217;m still not sure whether the rabbit glue stage was strictly necessary, but it was kind of of meditative fun. After Irina had cut the panels for me, it was glue time:</p>
<figure id="attachment_2496" aria-describedby="caption-attachment-2496" style="width: 1372px" class="wp-caption aligncenter"><img class="size-full wp-image-2496" src="http://valdyas.org/fading/wp-content/uploads/2019/12/preparing_panels_with_glue.jpg" alt="" width="1372" height="1029" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/preparing_panels_with_glue.jpg 1372w, https://valdyas.org/fading/wp-content/uploads/2019/12/preparing_panels_with_glue-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/preparing_panels_with_glue-768x576.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/preparing_panels_with_glue-1024x768.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/preparing_panels_with_glue-1200x900.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2496" class="wp-caption-text">Preparing the panels with rabbit glue</figcaption></figure>
<p>I put the glue, which comes in granulated form in a jar with water to soak overnight, then heated it au bain marie over a tealight. Because I wanted to paint on both sides of the small panels, I put them on nails. This wasn&#8217;t a big success, and one panel kept falling off the nails.</p>
<p>I also prepared some more panels so I would have something to practice on, because, frankly, I&#8217;m still not sure I&#8217;m going to make a success out of this.</p>
<figure id="attachment_2499" aria-describedby="caption-attachment-2499" style="width: 1372px" class="wp-caption aligncenter"><img class="size-full wp-image-2499" src="http://valdyas.org/fading/wp-content/uploads/2019/12/prepared_panels.jpg" alt="" width="1372" height="1029" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/prepared_panels.jpg 1372w, https://valdyas.org/fading/wp-content/uploads/2019/12/prepared_panels-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/prepared_panels-768x576.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/prepared_panels-1024x768.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/prepared_panels-1200x900.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2499" class="wp-caption-text">Panels prepared with rabbit glue for gessoing</figcaption></figure>
<p>You have to give the panels, which are old and very dry, several layers of glue, and sand them a bit in between.</p>
<p>The same goes for applying gesso, and I got some super-fine sandpaper to make the panels smooth, but they still have some surface structure.</p>
<figure id="attachment_2502" aria-describedby="caption-attachment-2502" style="width: 1372px" class="wp-caption aligncenter"><img class="size-full wp-image-2502" src="http://valdyas.org/fading/wp-content/uploads/2019/12/gessoed_panels.jpg" alt="" width="1372" height="1029" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/gessoed_panels.jpg 1372w, https://valdyas.org/fading/wp-content/uploads/2019/12/gessoed_panels-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/gessoed_panels-768x576.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/gessoed_panels-1024x768.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/gessoed_panels-1200x900.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2502" class="wp-caption-text">The panels with their final coat of gesso</figcaption></figure>
<p>Then (though in reality I started with that) I made the design for the panels: they are 3 by 3 inch (because my old designer&#8217;s ruler that I&#8217;ve had since I was twelve has inches).</p>
<figure id="attachment_2497" aria-describedby="caption-attachment-2497" style="width: 954px" class="wp-caption aligncenter"><img class="size-full wp-image-2497" src="http://valdyas.org/fading/wp-content/uploads/2019/12/khushi_transfer_print.png" alt="" width="954" height="1066" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/khushi_transfer_print.png 954w, https://valdyas.org/fading/wp-content/uploads/2019/12/khushi_transfer_print-268x300.png 268w, https://valdyas.org/fading/wp-content/uploads/2019/12/khushi_transfer_print-768x858.png 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/khushi_transfer_print-916x1024.png 916w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2497" class="wp-caption-text">The design for Khushi&#8217;s panel.</figcaption></figure>
<p>Khushi is a young Sithi woman, which means she&#8217;s fairly dark, tall and has a lot of black hair and very strong eyebrows.</p>
<figure id="attachment_2501" aria-describedby="caption-attachment-2501" style="width: 730px" class="wp-caption aligncenter"><img class="size-full wp-image-2501" src="http://valdyas.org/fading/wp-content/uploads/2019/12/moyri_transfer_print.png" alt="" width="730" height="941" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/moyri_transfer_print.png 730w, https://valdyas.org/fading/wp-content/uploads/2019/12/moyri_transfer_print-233x300.png 233w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 984px) 61vw, (max-width: 1362px) 45vw, 600px" /><figcaption id="caption-attachment-2501" class="wp-caption-text">Inked design for Moyri: ready to print and use to transfer.</figcaption></figure>
<p>Moyri has grown up in marshland, has reddish-brown hair which she keeps short because she often wears a helmet.</p>
<figure id="attachment_2504" aria-describedby="caption-attachment-2504" style="width: 1372px" class="wp-caption aligncenter"><img class="size-full wp-image-2504" src="http://valdyas.org/fading/wp-content/uploads/2019/12/design_transfered.jpg" alt="" width="1372" height="1029" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/design_transfered.jpg 1372w, https://valdyas.org/fading/wp-content/uploads/2019/12/design_transfered-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/design_transfered-768x576.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/design_transfered-1024x768.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/design_transfered-1200x900.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2504" class="wp-caption-text">The panels with the design transferred using carbon paper</figcaption></figure>
<p>With a piece of carbon paper, I transferred the designs to the panel. I later transferred the designs half a dozen times to other panels, to try my hand at painting and learning the materials before messing up my good panels. But I wanted a luminous blue background for the portraits, and that I could make with glazes of ultramarine oil paints.</p>
<p>I first tried out the various kinds of mediums I had with two types of brushes: an Isabey cat&#8217;s tongue brush that&#8217;s very soft, and a Da Vinci kolinsky marter brush that offers a bit of control.</p>
<figure id="attachment_2491" aria-describedby="caption-attachment-2491" style="width: 1282px" class="wp-caption aligncenter"><img class="size-full wp-image-2491" src="http://valdyas.org/fading/wp-content/uploads/2019/12/various_mediums.jpg" alt="" width="1282" height="485" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/various_mediums.jpg 1282w, https://valdyas.org/fading/wp-content/uploads/2019/12/various_mediums-300x113.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/various_mediums-768x291.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/various_mediums-1024x387.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/various_mediums-1200x454.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2491" class="wp-caption-text">Figuring out which medium does what: Cobra Quick drying, Cobra Glazing, Georgian Quick Drying, Cobra Medium, Water.</figcaption></figure>
<p>Conclusions:</p>
<ul>
<li>There is no difference in handling between the Cobra Quick Drying and the Cobra Glazing medium: they both don&#8217;t do much to speed up the drying process (while I&#8217;m writing this, I&#8217;m waiting for the glazes on my last test-panel to dry)&#8230; These two also soak through the paper I made test on really badly.</li>
<li>The Daler &amp; Rowney Georgian Quick Drying medium dries the paint so fast it&#8217;s almost as if you&#8217;re working with egg tempera. Which is cool, but it&#8217;s fast enough that it dries on the palette.</li>
<li>The normal Cobra medium works fine, and doesn&#8217;t soak through the paper that much.</li>
<li>Water dries up a bit less blue, but the drying time is fine. (<strong>Note</strong>: lots of posts and blogs out there on the internet claim you shouldn&#8217;t mix water-mixable oil paints with water: this is nonsense. <a href="https://www.youtube.com/watch?v=pMz5vuG0FhI&amp;list=PLi86B3jOHkDZ81FSVR60v-qw-_1rmgz4y&amp;index=4">Talens itself suggests water for the first layer, water + medium for the next layers, with the proportion of medium increasing</a>.)</li>
</ul>
<p>Therefore, that&#8217;s what I did to add the blue to the background of the panels:</p>
<figure id="attachment_2492" aria-describedby="caption-attachment-2492" style="width: 1372px" class="wp-caption aligncenter"><img class="size-full wp-image-2492" src="http://valdyas.org/fading/wp-content/uploads/2019/12/ultramarine_background.jpg" alt="" width="1372" height="1029" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/ultramarine_background.jpg 1372w, https://valdyas.org/fading/wp-content/uploads/2019/12/ultramarine_background-300x225.jpg 300w, https://valdyas.org/fading/wp-content/uploads/2019/12/ultramarine_background-768x576.jpg 768w, https://valdyas.org/fading/wp-content/uploads/2019/12/ultramarine_background-1024x768.jpg 1024w, https://valdyas.org/fading/wp-content/uploads/2019/12/ultramarine_background-1200x900.jpg 1200w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2492" class="wp-caption-text">The second layer of ultramarine</figcaption></figure>
<p>Now the time came to start painting the faces on my test panels&#8230; My first attempt followed the advice above, and started with a water + oil ground in the traditional under-painting color of <em>brown</em>. Actually, burnt sienna + burnt umber to get a bit of fire.</p>
<figure id="attachment_2493" aria-describedby="caption-attachment-2493" style="width: 626px" class="wp-caption aligncenter"><img class="wp-image-2493 size-full" src="http://valdyas.org/fading/wp-content/uploads/2019/12/test_with_oilpaint_underpainting.jpg" alt="" width="626" height="434" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/test_with_oilpaint_underpainting.jpg 626w, https://valdyas.org/fading/wp-content/uploads/2019/12/test_with_oilpaint_underpainting-300x208.jpg 300w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 984px) 61vw, (max-width: 1362px) 45vw, 600px" /><figcaption id="caption-attachment-2493" class="wp-caption-text">Attempt 1: under-painting done in oil thinned with water.</figcaption></figure>
<p>The goal is to keep the white shining through, so the paint has to be quite transparent. Which means it&#8217;s quite wet, and pretty soon I was just pushing pigment around in a bubble of water that didn&#8217;t want to dry. This panel by now has a couple more layers of gesso, so I can re-use it.</p>
<p>This, obviously, did not work. Then I realized I also hadn&#8217;t really made a study of the values of my subjects, and I did that, in pencil on another print of the design. I guess I will have painted these faces a dozen times when it&#8217;s January!</p>
<p>&nbsp;</p>
<figure id="attachment_2495" aria-describedby="caption-attachment-2495" style="width: 475px" class="wp-caption aligncenter"><img class="size-full wp-image-2495" src="http://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_khushi.jpg" alt="" width="475" height="526" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_khushi.jpg 475w, https://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_khushi-271x300.jpg 271w" sizes="(max-width: 475px) 85vw, 475px" /><figcaption id="caption-attachment-2495" class="wp-caption-text">A study in values for Khushi</figcaption></figure>
<figure id="attachment_2494" aria-describedby="caption-attachment-2494" style="width: 499px" class="wp-caption aligncenter"><img class="size-full wp-image-2494" src="http://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_moyri.jpg" alt="" width="499" height="497" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_moyri.jpg 499w, https://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_moyri-150x150.jpg 150w, https://valdyas.org/fading/wp-content/uploads/2019/12/study_in_gray_moyri-300x300.jpg 300w" sizes="(max-width: 499px) 85vw, 499px" /><figcaption id="caption-attachment-2494" class="wp-caption-text">A study in values for Moyri</figcaption></figure>
<p>This gave me some ideas, though, of course, it&#8217;s not perfect. It&#8217;s also not easy to get a huge amount of contrast in so small a picture, and besides, when you start looking at portraits on panels, they mostly don&#8217;t <em>have</em> a lot of contrast&#8230;</p>
<p>Then I got distracted <a href="https://www.youtube.com/watch?v=wwK88_4xjGE&amp;t=96s">watching a series of videos</a> of someone copying Jan van Eyck. I tried to follow that, but with green instead (because I had that on my palette) of brown, and on canvas instead of panel, and a quick, loose sketch, to see whether it would work, a single color under-painting and then adding highlights and shadows with white and red. I only got the red state when the canvas (which is actually paper with a structured covering) started to buckle, and I just dropped the attempt:</p>
<figure id="attachment_2498" aria-describedby="caption-attachment-2498" style="width: 1029px" class="wp-caption aligncenter"><img class="wp-image-2498 size-full" src="http://valdyas.org/fading/wp-content/uploads/2019/12/green_underpainting_in_oils.jpg" alt="" width="1029" height="1372" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/green_underpainting_in_oils.jpg 1029w, https://valdyas.org/fading/wp-content/uploads/2019/12/green_underpainting_in_oils-225x300.jpg 225w, https://valdyas.org/fading/wp-content/uploads/2019/12/green_underpainting_in_oils-768x1024.jpg 768w" sizes="(max-width: 709px) 85vw, (max-width: 909px) 67vw, (max-width: 1362px) 62vw, 840px" /><figcaption id="caption-attachment-2498" class="wp-caption-text">Attempt 2: an under-painting in green oils with quick-drying medium and white highlights.</figcaption></figure>
<p>Apart from the drawing not being right, the painting worked for me. I now felt like making a proper copy of Eve (with a twist, of course) by Jan van Eyck&#8230; But I also felt I needed more study.</p>
<p>I found a video that was really well-worth watching:</p>
<p><iframe title="Layer by Layer" width="840" height="473" src="https://www.youtube.com/embed/DDqD-d6Osew?feature=oembed" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
<p>Meh, I didn&#8217;t have access to all that stuff. Gold leaf, bole, scrapers&#8230; But it did show me that just starting with an under-painting in oils and then going on wouldn&#8217;t work. I would have to plan.</p>
<p>So I consulted my bookshelves, filled during a previous painting-is-fun-phase in my life. My translation of <a href="https://nl.wikipedia.org/wiki/Schilder-boeck">Karel van Manders &#8220;Schilderboek&#8221;</a> only has the lives, not the technical parts. <a href="https://en.wikipedia.org/wiki/Max_Doerner_(artist)">Max Doerner&#8217;s &#8220;The Materials of the Artist&#8221;</a> describes the way van Eyck worked, in a mixed tempera/oil paint manner. The weird thing is that pretty much all the books I have on his work actually mentions that, not even the most scholarly tomes. They  all seem to assume that the works were set up from beginning to end in pigment ground in oil.</p>
<p>Hm.</p>
<p><a href="https://www.biblio.com/how-to-paint-and-draw-by-jaxtheimer-bodo-w/work/103010">&#8220;Gaade&#8217;s Teken en Schilderboek&#8221; by Bodo Jaxtheimer</a>, which I&#8217;ve had since I was fourteen or so, and which is way too moralizing (&#8220;As soon as you have to add white highlights to a watercolor painting, it&#8217;s spoiled. Destroy it!&#8221;) had a chapter on mixed-media techniques. Tempera plus oil paints. This offered a good set of steps, though inadequately described for achieving what I wanted to achieve: something slightly more sophisticated than the Norfolk Triptych, but doable.</p>
<p>So I&#8217;ve ordered some tempera paint tubes from Sennelier, even though Bodo, that friendly fellow, warns us sternly that it is impossible to put tempera in a tube because it will spoil. Oh, well, we&#8217;ll see about that.</p>
<p>He also hinted that it would be possible to use watercolor for the first under-painting layer, which is what I&#8217;m trying now. I put on watercolor yesterday (note: I was once again pushing very little pigment through lots of water, what&#8217;s up with that?), and today the green coat onto which the first white highlights need to be added. And it&#8217;s not dry yet, so I cannot do that.</p>
<figure id="attachment_2500" aria-describedby="caption-attachment-2500" style="width: 536px" class="wp-caption aligncenter"><img class="size-full wp-image-2500" src="http://valdyas.org/fading/wp-content/uploads/2019/12/moyri_with_aquarel_underpainting.jpg" alt="" width="536" height="742" srcset="https://valdyas.org/fading/wp-content/uploads/2019/12/moyri_with_aquarel_underpainting.jpg 536w, https://valdyas.org/fading/wp-content/uploads/2019/12/moyri_with_aquarel_underpainting-217x300.jpg 217w" sizes="(max-width: 536px) 85vw, 536px" /><figcaption id="caption-attachment-2500" class="wp-caption-text">Attempt 2: an under-painting with watercolor and green wash with oils</figcaption></figure>
<p>I&#8217;ve got a second test panel ready to play with when the tempera arrives. I wonder whether I can make the tempera more transparent with the yolk of an egg beaten up with vinegar and emulsified with some linseed oil.</p>
<p>By the way, and for the reference, the steps Bodo wants me to follow are:</p>
<ol>
<li>Saw panel</li>
<li>Prepare panel with rabbit glue: three layers</li>
<li>Prepare panel with gesso: three layers at least, but for the final panel, many more</li>
<li>Prepare design</li>
<li>Transfer design</li>
<li>Prepare under-painting with red ocher, either tempera or watercolor. Needs to cover the entire area, but transparently.</li>
<li>Over-paint with transparent green (I used sap green)</li>
<li>Over-paint with transparent white (tempera: according to Bodo that will fuse with the green to a very hard layer &#8212; we&#8217;ll see)</li>
<li>Add white highlights and green shadows. The shadows need to be much thinner than the highlights. It is <strong>not </strong>clear whether this is done with tempera or oils, or both, or green oil, white tempera. Though a throw-away remark about working the values into each other suggest oils at this stage, because you cannot do that with tempera.</li>
<li>Add color in more glazing layers, with oil</li>
<li>Add the final highlights with thick paint</li>
</ol>
<p>Well, at least I&#8217;m learning something, and I&#8217;m having fun!</p>