---
title:      "Why we shouldn’t blame ourselves for the Linux desktop’s microscopic marketshare"
created_at: 2019-11-11 19:15:06 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/hardware/why-we-shouldnt-blame-ourselves-for-the-linux-desktops-microscopic-marketshare/"
---
<p>Well, that was three interesting articles on the same topic on the same day, namely, billionaires. And read in turn they explain exactly why the Linux Desktop is still at such a marginal market share, and why that&#8217;s not because we, who work hard on it, are failures who have been doing the wrong thing all the time. It is in the first place policies, bought with money, that allowed people to build monopolies, taxing individuals and so becoming even more rich and powerful.</p>
<p>(Similarly, it&#8217;s not individuals through their choices who are destroying the planet, it is policies bought by the very rich who somehow believe that their Florida resorts won&#8217;t sink, that they won&#8217;t be affected by burning up the planet so they can get richer. But that&#8217;s a digression.)</p>
<p>So, the <a href="https://www.theguardian.com/commentisfree/2019/nov/06/billionaires-super-rich-extreme-wealth-political-influence-inequality-gates-bezos-buffett">the first article, by Arwa Mahdawi</a>, discussed the first part of this problem: with enough money, all policies are yours. It&#8217;s just a squib, not the strongest article.</p>
<p>Then, <a href="https://www.theguardian.com/commentisfree/2019/nov/10/billionaires-warren-sanders-wealth-tax-bezos-dimon-cohen">Robert Reich, a former US secretary of labor</a> enumerates the ways people can become so exceedingly rich, and none of that is because they are so hard-working and so successful:</p>
<ul>
<li>Exploit a monopoly: this is illegal under the laws of the United States.
<li>Exploit insider information. This is also illegal.
<li>Buy a tax cut. This seemed uniquely USA&#8217;ian until the Dutch prime minister Rutte promised abolition of the dividend tax to Unilever. This would seem to be illegal as well, but IANAL.
<li>Extort people who already have a lot of money. Extortion is illegal.
<li>Inherit the money. This is the only legal way to become a billionaire.
</ul>
<p>Now the article entitled <a href="https://mattstoller.substack.com/p/what-is-a-billionaire">What Is a Billionaire, by Matt Stoller</a> was posted to the Linux reddit today. Not surprisingly, many people completely didn&#8217;t get the point, and thought it was irrelevant for a Linux discussion forum, or was about capitalism vs socialism, or outdated Microsoft bashing.</p>
<p>However, what it <i>is</i> about, is the question: why is Bill Gates not in jail for life with all his wealth stripped off? He&#8217;s a criminal, and his crime has directly harmed <i>us</i>, the people working on free software, on the Linux Desktop.</p>
<p>So, to make things painfully clear: Bill Gates made it so that his company would tax every computer sold no matter whether it ran Windows or not. If a manufacturer wanted to sell computers running Windows, all the computers it sold were taxed by Microsoft. He would get paid for the work a Linux distribution was doing, and the Linux distribution would not get that money.</p>
<p>That means there&#8217;s a gap twice the amount of this illegal tax between Microsoft and the Linux distribution. If a Linux distribution would want to earn what Microsoft earned on a PC sale, it would have to pay the Microsoft tax, and ask for its own fee.</p>
<p>This cannot be done.</p>
<p>And I know, this has been said often before, and discussed often before, and yeah, I guess, poor Bill Gates, if he hadn&#8217;t been bothered so badly with the hugely unfair antitrust investigation, he <a href="https://www.neowin.net/news/bill-gates-everyone-would-be-using-windows-mobile-instead-of-android-if-not-for-the-us-antitrust-investigation">would also have been able to monopolize mobile phones</a>, and the world would have been <i>so much sweeter</i>. For him, for certain.</p>
<p>I guess we didn&#8217;t do <i>all that badly</i> with the Linux Desktop market share being what it is. This is a fight that cannot be won.</p>
<p>Monopolies must be broken up. It&#8217;s the law, after all.</p>