---
title:      "Looking in or looking out?"
created_at: 2019-10-27 14:37:58 UTC
author:     boud
layout:     post
original_link: "https://valdyas.org/fading/thoughts/looking-in-or-looking-out/"
---
<p>In <a href="https://valdyas.org/fading/hacking/krita-hacking/back-from-the-blender-conference-2019/">my previous blog post</a>, I mentioned that being part of the wider Free Software community can be a drag on a project.</p>
<p>In this post, I want to put that in perspective. Elaborate a bit, if you will.</p>
<p>For someone like me who wrote his first GPL&#8217;ed application in 1993 (it was a uucp mail and usenet client written in &#8211;gasp!&#8211; Visual Basic), I&#8217;ve spent countless hours pleasantly occupied contemplating the where and which of Free Software. I am part of the KDE community, the Libre Graphics community, the Free Software community. Inside our communities, we&#8217;ve got engrossing discussions about licensing, diverting flamewars about business models, scintillating technical developments, awesome foes to smite, forks to be praised or lambasted. There are conferences to be visited, or be perorated at, sprints to organize and organizations to join.</p>
<p>In short, you can develop Free Software within the Free Software community while all the while looking in. This is important for Free Software. That is bad for Free Software. If I make this effort, or take this initiative, or mentor this student, Free Software will improve.</p>
<p>And that&#8217;s fun, and gives one the satisfied feeling of making the world a better, freer place. And I care about software freedom, really I do!</p>
<p>It does take a lot of time, though, and that time &#8212; is that really spent making the world better for the people who use my software? Is all that caring about the ins and outs of the Free Software community the best use of my time, when I&#8217;m working on an end-user application? And does it give me the right kind of insight in what I should be doing?</p>
<p>That&#8217;s what I meant when I wrote that I was kind of agreeing with Ton that being part of the Free Software community could be a drag on Krita becoming successful.</p>
<p>If I&#8217;m spending my time on GNOME vs KDE, Flatpak vs Snap vs AppImage, deb vs RPM, then I&#8217;m only worrying about technical details that don&#8217;t mean a thing for someone who wants to paint a comic. That makes it at worst a waste of my time, or at best a hobby that is only tangentially related to Krita and its users.</p>
<p>If I&#8217;m looking inside the community, and not out of it, facing the people who will actually be using my software, I probably won&#8217;t be making the right kind of software.</p>
<p>If I&#8217;m visiting conferences like Akademy, Fosdem or Linux Application Summit, I&#8217;m spending time on nourishing the Free Software community, but <i>not</i> on meeting my users, meeting their expectations or even learning what my proprietary competitors are doing.</p>
<p>Like I said on Friday, we need funding to make sure our projects have a stable base of effort. That stable base makes our projects more attractive for other developers interested in helping out. But we also need to look out of the window. And that&#8217;s a message for me, personally, too. Because our delicious little Free Software feuds and ruckuses are almost as big a time-sink as Brexit.</p>