---
layout: default
css-include: /css/main.css
sorted: 1
pagination: 
  enabled: true
  sort_reverse: true
---

<main aria-label="Content" id="content" class="container">
    <br/>
    <h1>Blog</h1>
    
    {% include blog.html %}

</main>
